.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #282c34;
  z-index: 999;
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #282c34;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.am-list-item{
  background-color: #282c34;
}
.am-list-item .am-list-line .am-list-content{
  color: #fff;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
/* 箭头 */
.am-list-item .am-list-thumb:first-child{
  position: absolute;
  right: 0;
}

.am-list-body::before ,.am-list-body::after{
  height: 0;
}
.am-icon{
  margin-left: 5px;
}