.space-carousel {
    padding: 16px;
    background: #DEF1E5;
    overflow: hidden;
  }
  .am-drawer-content{
      padding-top: 45px !important;
  }
  .am-wingblank {
    margin-right:0;
    margin-left: 0; 
  }